{{#movie}}
  <div class="breadcrumb-and-search row">
    <ol class="breadcrumb">
      <li><a href="#/home">Home</a></li>
      <li><a href="#/movies">Movies</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </div>
  <hr>
  <div class="row product-info">
    <div class="left-section col-lg-8 row">
      <div class="thumbnail">
        <div class="row">
          <img class="" src="{{img}}" alt="movie-poster">
          <div class="product-description" data-movie-id="{{id}}">
            <h5>{{title}}</h5>
            <p>
              <span>Price: <b>{{price}} €</b></span>
              {{#if isOwner}}
                <p>
                  <button id="btn-delete-movie" class="btn btn-danger" name="button">Delete</button>
                </p>
              {{else}}
                <p><a href="#/movies/{{id}}" id="btn-buy-movie" class="btn btn-primary" name="button">Buy</a></p>
              {{/if}}
            </p>
            <ul>Genres:
              {{#each genres}}
                <li><i class="glyphicon glyphicon-chevron-right"></i> {{this}}</li>
              {{/each}}
            </ul>
            <p>
              <span>From:
                <strong>{{year}}</strong>
              </span>
            </p>
            <p class="description">{{description}}</p>
          </div>
        </div>
      </div>
      <div class="user-comment-section">
        <p class="comments-title">
          Leave a comment
        </p>
        <div class="">
          <img src="images/books.jpg" class="item-image" alt="book">
          <div class="input">
            <textarea id="txtarea" rows="3" name="Text" Id="Text" value=""></textarea>
            <button id="btn-txtarea" class="btn btn-default" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section col-lg-4">
      <p class="comments-title">
        Recent comments
      </p>
      <div class="comments">
        <p>
          If you haven't already watched {{title}}, now is your chance!
        </p>
      </div>
      <div id="user-comment" class="comments">
        <p>
          Your comment goes here.
        </p>
      </div>
    </div>
  </div>
{{/movie}}
